*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #52a4ec,
        #61ffb8
    );
    font-family: "TechFont", sans-serif;
}

@font-face {
    font-family: "TechFont";
    src: url("font/Technology.ttf");
}