*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #0b132b,
        #1F1717
    );
    font-family: "TechFont", sans-serif;
}

@font-face {
    font-family: "TechFont";
    src: url("font/Technology.ttf");
}